
body{
    background-image: url("station.jpeg");
    text-align: center;
    font-weight: bold;
}
h1{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 50px;
}
button{
    border:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: bold;
    width:200px;
    margin-bottom: 5px;
    border-radius:5px ;
}
#incremnet-id
{
    background-color:darkred;
}
#save-btn
{
    background-color: green;
}